:root {
    --sidebar-background: #1992D4;
    --sidebar-text-color: #FFFFFF;
    --heading-background: #FEFEFE;
    --show-area-background: #E2E8F0;
    --search-bar-background: #e0e0e0;
    --button-background: var(--sidebar-background);
    --button-text-color: var(--sidebar-text-color);
    --profile-pic-placeholder: yellow;
}

.sidebar {
    background-color: var(--sidebar-background);
    color: var(--sidebar-text-color);
}

.header {
    background-color: var(--heading-background);
}

.show {
    background-color: var(--show-area-background);
}

.profile-icon {
    background-color: var(--profile-pic-placeholder);
}

.profile-icon-max {
    background-color: var(--profile-pic-placeholder);
}
